################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/firstMVCAppDemo/.vs/firstMVCAppDemo
/.vs
/firstMVCAppDemo/firstMVCAppDemo/bin/Debug/net5.0
/firstMVCAppDemo/firstMVCAppDemo/obj
