@{
    ViewData["Title"] = "Home Page";
}

<section class="jumbotron text-center">
<div class="container">
    <h1 class="display-4">Welcome</h1>
    <b>Welcome to book store application.</b>
 
    <p><a href="#" class="btn btn-primary my-2">seach book</a></p>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
</section>
